@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&display=swap");

    body{
        margin: 0;
        padding: 0;
        margin-top: 140.005px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .container{
        box-sizing: border-box;
        width: 27.167vw;
        max-height: 34.462vw;
        border: 1px solid #C4C4C4;
        border-radius: 0.868vw;
    }
    .yellow{
        width: 100%;
        height: 2.431vw;
        background: #FFDC40;
        border-radius: 0.868vw 0.868vw 0 0;
    }
    .text{
        width: 14.236vw;
        height: 2.951vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 2.257vw;
        line-height: 2.604vw;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
        padding: 0;
        margin: auto;
        margin-top: 1.476vw;
    }
    .sort{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 0.868vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 1.042vw;
        cursor: pointer;
    }
    .sortimage{
        width: 2.17vw;
        height: 1.302vw;
        margin-right: 2.604vw;
        opacity: 0.3;
    }
    .sortimage:hover{
        opacity: 2.3;
    }
    #hide:hover{
        display: none;
    }
    .tasks{
        box-sizing: border-box;
        width: 24.826vw;
        max-height: 17.361vw;
        border: 1px solid #C4C4C4;
        border-radius: 0.868vw;
        margin: auto;
        margin-top: 1.042vw;
        overflow: auto;
        overflow-x: hidden;
        display: block;
        
    }
    #simple{
        padding: 0;
        margin: 1.042vw 2.604vw 1.042vw 2.344vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        display: none;
    }
    .task{
        padding: 0;
        margin: 1.389vw 2.691vw 1.042vw 2.17vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    #inputdiv{
        padding: 0;
        margin: 1.389vw 2.691vw 1.042vw 2.17vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .sending{
        padding: 0;
        margin: 1.042vw 2.604vw 1.042vw 2.344vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .remove{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 1.736vw;
        height: 1.736vw;
        border: 1px solid #C4C4C4;
        border-radius: 6.163vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .removeinp{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 1.736vw;
        height: 1.736vw;
        border: 1px solid #C4C4C4;
        border-radius: 6.163vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .removeinp:hover{
        background-color: #833AE0;
        border: 1px solid #833AE0;
        cursor: pointer;
    }
    .remove:hover{
        background-color: #833AE0;
        border: 1px solid #833AE0;
        cursor: pointer;
    }
    .taskin{
        width: 9.201vw;
        height: 1.389vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.215vw;
        line-height: 1.389vw;
        color: #000000;
        width: 90%;
        border: none;
    }
    .taskinput{
        width: 9.201vw;
        height: 1.389vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.215vw;
        line-height: 1.389vw;
        color: #000000;
        width: 90%;
        border: none;
    }
    .taskinput:focus{
        outline: none;
    }
    .taskin:focus{
        outline: none;
    }
    .send-button{
        margin: 0;
        padding: 0;
        margin-top: 1.563vw;
        margin-bottom: 1.649vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .buttons{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 13.021vw;
        height: 3.646vw;
        background: #833AE0;
        border-radius: 6.163vw;
        border: none;
        cursor: pointer;
    }
    .buttons:hover{
        background: #4c2180;
    }
    .ellipse{
        width: 3.646vw;
        height: 3.646vw;
        background: #9953F1;
        border-radius: 6.163vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.215vw;
        line-height: 1.389vw;
        color: #FFFFFF;
    }
    
    .add{
        padding: 0;
        margin: 0;
        width: 71%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: -0.868vw;
    }
    
    span{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.215vw;
        line-height: 1.389vw;
        color: #FFFFFF;
    }
    li{
        list-style: none;
        width: 9.201vw;
        height: 1.389vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.215vw;
        line-height: 1.389vw;
        color: #000000;
        width: 90%;
        border: none;
        cursor:move;
    }
